:root {
  --theme: #060606;
  --blue: #3cf;
  --pink: #e0f;
  --red: #cf3030;
  --green: #6dcf30;
  --gray: #666;
  --white: #fff;
  --light_gray: #b6b6b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

#content {
  height: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  color: var(--white);

}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}


body {
  line-height: 1.3;
  background-color: var(--gray);

  display: flex;
  flex-direction: column;

}

h1 {
  font-size: 180%;
}

h2 {
  margin: 2% 0;
  font-size: 36px;

}

li {
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

/*  header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--theme);
  color: var(--white);
  z-index: 5;
}

/* Pic and h1 space */
header .header_title {
  width: 35%;
}

/* class parameters, in horizonal */
.header_title {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding-left: 1%;
}

/*  image spacing and dimention*/
.header_title img {
  width: 50px;
  height: 50px;
  margin-right: 2%;
}

/* title formatting */
.header_title h1::first-letter {
  color: var(--pink);
}

.header_title h1 {
  text-decoration: underline;
  text-decoration-color: var(--pink);
}

/* Navigation  */
nav {
  display: flex;
  width: 65%;
  height: 68px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* dropmenu */
.dropmenu {
  display: none;
}

/* spacing and width  */
nav>ul {
  display: flex;
  margin-right: 0%;
  min-width: 250px;
  height: 100%;
  ;
  background-color: var(--theme);
}

nav ul li {
  display: flex;
  height: 100%;
  background-color: var(--theme);

}

.header_list_spacer {
  width: 20px;
  height: 100%;
  background-color: var(--pink);
}

.header_card_spacer {
  width: 20px;
  height: 100%;
  background-color: var(--theme);
  transition: border-radius 0.5s ease;
}

.header_card {

  align-items: center;

  height: 100%;
  border-radius: 40px 40px 0px 0px;

  background-color: var(--theme);
  transition: all 0.5s ease;

  background-image: linear-gradient(to top, var(--pink) 50%, var(--theme) 50%);
  background-position: top;
  background-size: 100% 200%;
  transition: background-position 0.5s ease-in-out;
}

nav a {
  display: flex;
  align-items: center;
  height: inherit;
  color: var(--white);
  transition: color 0.5s ease;

  margin-left: 5px;
  margin-right: 5px;

}

nav .active {
  color: var(--pink);
}

nav .sleep {
  color: var(--white);
}

.container_nav li:hover .active {
  color: var(--white);

}

/* Navigation Animation for About Me */

.container_nav #am:hover .header_card {
  background-color: var(--pink);
  color: var(--white);
  background-position: bottom;
}

.container_nav #am:hover #hcs1 div {
  border-radius: 0px 0px 20px 0px;
}

.container_nav #am:hover #hcs2 div {
  border-radius: 0px 0px 0px 20px;
}

/* Navigation Animation for Education */
.container_nav #pf:hover .header_card {
  background-color: var(--pink);
  background-position: bottom;
}

.container_nav #pf:hover #hcs2_2 div {
  border-radius: 0px 0px 20px 0px;
}

.container_nav #pf:hover #hcs3 div {
  border-radius: 0px 0px 0px 20px;
}

/* Navigation Animation for Skills */
.container_nav #ct:hover .header_card {
  background-color: var(--pink);
  background-position: bottom;
}

.container_nav #ct:hover #hcs3_2 div {
  border-radius: 0px 0px 20px 0px;
}

.container_nav #ct:hover #hcs4 div {
  border-radius: 0px 0px 0px 20px;
}

/* Navigation Animation for Work*/
.container_nav #rm:hover .header_card {
  background-color: var(--pink);
  background-position: bottom;
}

.container_nav #rm:hover #hcs4_2 div {
  border-radius: 0px 0px 20px 0px;
}

.container_nav #rm:hover #hcs5 div {
  border-radius: 0px 0px 0px 20px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

main>div {
  max-height: 100vh;
  overflow-y: auto;

}

.subtitle {
  width: 32%;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-right: 4px solid var(--pink);
}

.subtitle h2 {
  color: var(--pink);
  margin-right: 5%;
  text-align: right;
}

/* About me Section */
.About_me {
  display: flex;
}

.About_me p {
  width: 50%;
  margin-left: 5%;
  font-size: 16px;
  text-align: justify;
}

/* Education Section */
.Education {
  display: flex;
}

.Education>div h2 {
  color: var(--pink);
}

.edu_list {
  width: 50%;
  margin-left: 5%;
}

.edu_list div {

  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: var(--blue);
  transition: border 0.5s ease;

  padding-left: 2%;
  padding-bottom: 2%;
}

.edu_list div h3 {
  color: var(--blue);
  transition: color 0.5s ease;

}

.edu_list div:hover {
  border-left: 4px solid var(--pink);
  border-bottom: 4px solid var(--pink);
}

.edu_list div:hover h3 {
  color: var(--pink);
}

/* Skills Section */

.download::first-letter {
  color: var(--pink);
}

.download {
  margin-left: 25px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--pink);
}

.Skill {
  display: flex;
}

.container_skill {
  width: 50%;
  margin-left: 5%;
  display: flex;
}

.container_skill ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;

}

.container_skill ul li {
  position: relative;
  border-width: 2px;
  font-size: 20px;
  text-align: center;
}

.container_skill img {
  width: 50%;
  height: 50%;
}

.cards_skill {
  border: 4px solid var(--blue);
  transition: border 0.5s ease;
}

.cards_skill img {
  background-color: var(--gray);
}

.transparent_mask_skill {
  background-color: #ffffff42;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  transition: background-color 0.5s ease;

}

.card_text_skill {
  min-height: 15%;
  width: inherit;
  min-width: 50%;
  position: absolute;
  left: 0px;
  bottom: 15%;
  padding-left: 2%;
  text-size-adjust: CALC();
  background-color: var(--blue);
  transition: background-color 0.5s ease;


}

.container_skill li:hover .cards_skill>img {
  background-color: var(--light_gray);
}

.container_skill li:hover .card_text_skill {
  background-color: var(--pink);
}

.container_skill li:hover .transparent_mask_skill {
  background-color: #ffffff00;
}

.container_skill li:hover .cards_skill {
  background-color: var(--light_gray);
  border: 4px solid var(--pink);
}


/* Work Section */
.Work {
  display: flex;
}

.container_work {
  width: 50%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;

}

.container_work .grid {
  position: relative;
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.container_work .grid li {
  position: relative;
  text-align: left;
}

.cards_work {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid var(--blue);
  transition: border 0.5s ease;
}

.transparent_mask_work {
  background-color: #ffffff42;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}

.cards_work .img {
  background-color: #e0f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 15vh;
}

.card_text_work {
  min-height: 15%;
  max-width: 70%;
  position: absolute;
  left: 0px;
  bottom: 15%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--blue);
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_text_work img{
  height: 35px;
}
.workbanner {
  position: relative;
  width: 100%;
  height: 33%;
  margin-bottom: 10px;
  margin-top: 10px;

  grid-gap: 10px;
  list-style: none;
}

.workbannerback {
  position: relative;
  text-align: left;
}

.workbannerback .cards_work {
  position: relative;
  width: 100%;
  padding: 0%;
  border: 4px solid var(--blue);
  transition: border 0.5s ease;
}

.workbanner:hover .cards_work>img {
  background-color: var(--light_gray);
}

.workbanner:hover .card_text_work {
  background-color: var(--pink);
}

.workbannerback .cards_work:hover .transparent_mask_work {
  background-color: #ffffff00;
}

.workbanner:hover .cards_work {
  background-color: var(--light_gray);
  border: 4px solid var(--pink);
}

.container_work li:hover .cards_work>img {
  background-color: var(--light_gray);
}

.container_work li:hover .card_text_work {
  background-color: var(--pink);
}

.container_work li:hover .transparent_mask_work {
  background-color: #ffffff00;
}

.container_work li:hover .cards_work {
  background-color: var(--light_gray);
  border: 4px solid var(--pink);
}


.Contact {
  display: flex;
}

.form {
  margin-left: 5%;
  width: 30%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form div h3 {
  color: var(--pink);
}

form div input {
  height: 35px;
  width: 75%;
  margin: 5% 0%;
  padding: 2px;
  color: var(--pink);
  border-radius: 5px;
  border-color: var(--pink);
  border-width: 2px;
}

form div textarea {
  resize: none;
  height: 100px;
  width: 100%;

  margin: 5% 0%;
  padding: 2px;
  color: var(--pink);
  border-radius: 5px;
  border-color: var(--pink);
  border-width: 2px;
}

form div:focus-within h3 {
  color: var(--blue);
}

form button {
  background-color: var(--pink);
  border-radius: 15px;
  border-width: 0cap;
  padding: 0% 4%;
  margin-bottom: 2%;
  height: 43px;

  background-color: var(--pink);
  transition: all 0.5s ease;

  background-image: linear-gradient(to top, var(--pink) 50%, var(--blue) 50%);
  background-position: bottom;
  background-size: 100% 200%;
  transition: background-position 0.5s ease-in-out;
}

form button:hover {
  background-position: top;
}

.error-text {
  color: var(--red);
}

.done-text {
  color: var(--green);
}

.Contact {
  display: flex;
  height: 100%;
}

.Contact>div h2 {
  color: var(--pink);
}

.contact_list {
  width: 50%;
  height: 60vh;
  margin-left: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--dark-purple-color);
  border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 12px;
  background-color: var(--dark-purple-color);
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(bottom, var(--pink) 0%, var(--pink) 100%);
}

.scrollbar-morpheus-den {
  scrollbar-color: var(--pink) #F5F5F5;
}

.contact_list li {
  margin-bottom: 10px;
  margin-right: 10px;
}

.contact_list a {
  text-decoration: underline;
}

.contact_list div {

  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: var(--blue);
  transition: border 0.5s ease;

  padding-left: 2%;
  padding-bottom: 2%;
}

.contact_list div h3 {
  color: var(--blue);
  transition: color 0.5s ease;

}

.contact_list div:hover {
  border-left: 4px solid var(--pink);
  border-bottom: 4px solid var(--pink);
}

.contact_list div:hover h3 {
  color: var(--pink);
}

/* Employment History Section */
.Emp_History {
  display: flex;
}

.Emp_History>div h2 {
  color: var(--pink);
}

.emp_list {
  width: 50%;
  margin-left: 5%;
}

.emp_list>li>div {

  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: var(--blue);
  transition: border 0.5s ease;

  padding-left: 2%;
  padding-bottom: 2%;
}

.emp_list div h3 {
  color: var(--blue);
  transition: color 0.5s ease;
}

.emp_card_list li {
  margin-left: 4%;
  text-align: justify;
  list-style: square;
}

.emp_card_list li::marker {
  color: var(--blue);
  transition: color 0.5s ease;

}

.emp_card_list p {
  margin-left: 4%;
  text-align: justify;
}

.emp_list>li>div:hover {
  border-left: 4px solid var(--pink);
  border-bottom: 4px solid var(--pink);
}

.emp_list div:hover h3 {
  color: var(--pink);
}

.emp_list div:hover .emp_card_list li::marker {
  color: var(--pink);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--theme);
  color: var(--white);
}

footer div>h2 {
  margin: 5px 0%;
  margin-left: 5%;
  width: 30%;
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

footer div>h2::first-letter {
  color: var(--blue);
}

footer div>ul {
  display: flex;
  justify-content: right;
  background-color: var(--theme);
  align-items: center;
  margin-right: 5%;
}

footer div li {
  display: flex;
  align-items: center;
  height: inherit;
  width: fit-content;
  padding: 0% 4%;
}

footer div li a {
  height: fit-content;
  width: 100%;
}

footer div li a img {
  height: 35px;
}

@media screen and (max-width: 1001px) {

  header {
    display: block;
  }

  header .header_title {
    width: 100%;
  }

  .dropmenu {
    display: block;
    height: 32px;
  }

  .dropmenu h3 {
    height: 100%;
    padding: 1%;
    margin: 5px;
  }

  nav {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header_list_spacer {
    display: none;
  }

  nav ul {
    display: none;
    height: 60%;
    background-color: var(--theme);
  }

  .navigation:hover .container_nav {
    display: block;
    height: 36px;
  }

  .header_card {
    background-image: linear-gradient(to right, var(--pink) 50%, var(--theme) 50%);
    background-position: right;
    background-size: 200% 100%;
    transition: background-position 0.5s ease-in-out;
    border-radius: 0px 20px 20px 0px;
  }

  .container_nav #am:hover .header_card {
    background-color: var(--pink);
    background-position: left;
  }

  /* Navigation Animation for Education */
  .container_nav #pf:hover .header_card {
    background-color: var(--pink);
    background-position: left;
  }

  /* Navigation Animation for Skills */
  .container_nav #ct:hover .header_card {
    background-color: var(--pink);
    background-position: left;
  }

  /* Navigation Animation for Work*/
  .container_nav #rm:hover .header_card {
    background-color: var(--pink);
    background-position: left;
  }

  .subtitle {
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    border: none;
    border-bottom: 4px solid var(--pink);
  }

  .subtitle h2 {
    margin-left: 5%;
    text-align: left;
  }

  .About_me {
    display: block;
  }

  .About_me p {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
    font-size: 16px;
    text-align: justify;
  }

  .Education {
    display: block;
  }

  .edu_list {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

  .Skill {
    display: block;
  }

  .container_skill {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

  .Contact {
    display: block;
  }

  .form {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

  .contact_list {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

  .card_text_skill h3,
  .cards_work h3 {
    font-size: 3vw;
  }

  .Work {
    display: block;
  }

  .container_work {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

  .Emp_History {
    display: block;
  }

  .emp_list {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
  }

}

@media screen and (max-height: 1300px) {

  .worksubtitle {
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    border: none;
    border-bottom: 4px solid var(--pink);
  }

  .worksubtitle h2 {
    margin-left: 5%;
    text-align: left;
  }

  .Work {
    display: block;
    width: 95%;
  }

  .container_work {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
    height: fit-content;
  }

  footer ul {
    display: block;
    width: 60%;
    height: fit-content;
    padding-bottom: 2%;
    margin: 0 0 0 20%;
    align-items: center;
  }

  .About_me p {
    font-size: 3.5vw;
  }

  .edu_list li,
  .emp_card_list li {
    font-size: 3vw;
  }

  .subtitle h2 {
    font-size: 8vw;
  }
  .card_text_work img{
    height: 7vw;
  }
  footer div>h2 {
    margin: 5px 0%;
    margin-left: 5%;
    width: 30%;
    font-size: 8vw;
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }

  footer div li a img {
    height: 8vw;
  }
  
}


.hidden-print {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

.hidden-print h3,
.hidden-print li,
.hidden-print p {
  color: var(--theme) !important;
}

@media print {

  /* Print-specific styles */
  .hidden-print {
    color: var(--theme);
  }
  h1,
  h3,
  li,
  p {
    color: var(--theme) !important;
  }
}